.fondo{

        position:absolute;
        top:0px;
        left:0px;
        width:100%;
        height:100%;
        background-color: rgba(28, 97, 7, 0.52);


}
.inventario{

    position:absolute;
    top:5%;
    left:5%;
    width:90%;
    height:90%;
    background-color: rgba(196, 205, 194, 0.689);
    z-index: 11;

}


.controles{
    position:absolute;
    top:10%;
    left:10%;
    width:80%;
    height:80%;
    background-color: rgba(235, 224, 224, 0.726);
    z-index: 10;

}
.personaje{
    position:absolute;
    bottom:10%;
    left:10%;
    width:40%;
    height:40%;
    background-color: rgba(144, 245, 150, 0.726);
    z-index: 10;
}
.enemigo{
    position:absolute;
    top:10%;
    left:50%;
    width:40%;
    height:40%;
    background-color: rgba(96, 3, 3, 0.726);
    z-index: 10;
}

.datosPj{
    text-align: center;
    position:absolute;
    bottom:5%;
    left:10%;
    width: 80%;
    z-index: 12;
    background-color: azure;
}
.barraPj{
    position:absolute;
    bottom:0%;
    width: 100%;
}
.personajeElegido{
    position:absolute;
    top:10%;
    right:10%;
    width:30%;
    height:40%;
    z-index: 10;
    background-color: rgb(255, 255, 255);
}
.listaPjs1{
    position:absolute;
    top:15%;
    left:10%;
    width:20%;
    height:30%;
    z-index: 10;
    background-color: rgb(171, 5, 5);
}
.listaPjs2{
    position:absolute;
    top:55%;
    left:10%;
    width:20%;
    height:30%;
    z-index: 10;
    background-color: rgb(53, 90, 223);
}
.listaPjs3{
    position:absolute;
    top:55%;
    left:40%;
    width:20%;
    height:30%;
    z-index: 10;
    background-color: rgb(202, 200, 55);
}
.listaPjs4{
    position:absolute;
    top:55%;
    left:70%;
    width:20%;
    height:30%;
    z-index: 10;
    background-color: rgb(22, 198, 19);
}
.mapa1{
    position:absolute;
    top:5% ;
    left:5%;
    width:90%;
    height:90%;
    background-color: rgba(199, 193, 10, 0.52);
}
.mapa2{
    position:absolute;
    top:5% ;
    left:5%;
    width:90%;
    height:90%;
    background-color: rgba(65, 154, 63, 0.52);
}
.mapa3{
    position:absolute;
    top:5% ;
    left:5%;
    width:90%;
    height:90%;
    background-color: rgba(111, 146, 226, 0.52);
}
.mapa4{
    position:absolute;
    top:5% ;
    left:5%;
    width:90%;
    height:90%;
    background-color: rgba(129, 12, 47, 0.52);
}
.mapa5{
    position:absolute;
    top:5% ;
    left:5%;
    width:90%;
    height:90%;
    background-color: rgba(50, 201, 85, 0.52);
}
.mapa6{
    position:absolute;
    top:5% ;
    left:5%;
    width:90%;
    height:90%;
    background-color: rgba(108, 117, 140, 0.52);
}
.mapa7{
    position:absolute;
    top:5% ;
    left:5%;
    width:90%;
    height:90%;
    background-color: rgba(72, 168, 130, 0.605);
}
.mapa8{
    position:absolute;
    top:5% ;
    left:5%;
    width:90%;
    height:90%;
    background-color: rgba(63, 205, 118, 0.52);
}
.mapa9{
    position:absolute;
    top:5% ;
    left:5%;
    width:90%;
    height:90%;
    background-color: rgba(22, 17, 129, 0.52);
}
.mapa10{
    position:absolute;
    top:5% ;
    left:5%;
    width:90%;
    height:90%;
    background-color: rgba(73, 16, 67, 0.756);
}
.mapa11{
    position:absolute;
    top:5% ;
    left:5%;
    width:90%;
    height:90%;
    background-color: rgba(129, 125, 12, 0.52);
}
.mapa12{
    position:absolute;
    top:5% ;
    left:5%;
    width:90%;
    height:90%;
    background-color: rgba(50, 204, 61, 0.52);
}
.mapa13{
    position:absolute;
    top:5% ;
    left:5%;
    width:90%;
    height:90%;
    background-color: rgba(13, 192, 211, 0.52);
}
.mapa14{
    position:absolute;
    top:5% ;
    left:5%;
    width:90%;
    height:90%;
    background-color: rgba(3, 12, 32, 0.52);
}
.mapa15{
    position:absolute;
    top:5% ;
    left:5%;
    width:90%;
    height:90%;
    background-color: rgba(12, 129, 28, 0.52);
}
.mapa16{
    position:absolute;
    top:5% ;
    left:5%;
    width:90%;
    height:90%;
    background-color: rgba(192, 58, 5, 0.952);
}
.cerrarInventario{
    position:absolute;
    top:5%;
    right:5%;
}
.botonInventario{

    position:absolute;
    bottom:5%;
    left:5%;
}
.botonPjs{
    position:absolute;
    bottom:5%;
    right:5%;
}

.botoninicio{
    position:absolute;
    top:80% ;
    right:40%;
width:20%;
    height:10%;
}
.botonD{
    position:absolute;
    top:50% ;
    left:-5%;
    width:10%;
    height:10%;
}
.botonI{
    position:absolute;
    top:50% ;
    right:-5%;
    width:10%;
    height:10%;
}
.botonAr{
    position:absolute;
    top:-5% ;
    right:45%;
    width:10%;
    height:10%;
}
.botonAb{
    position:absolute;
    bottom:-5% ;
    right:45%;
    width:10%;
    height:10%;
}

