.borrarse{
    transition:all 1s;
}
.barraVida{
    position:absolute;
    top:-10px;
    left:0px;
    width:50px;
    height:5px;
    background-color: whitesmoke;
    transition:all 1s;
}

.barraMuerte{
    position:absolute;
    top:-10px;
    left:0px;
    width:50px;
    height:5px;
    background-color: red;
    transition:all 0.3s;
}

.rop{
    position: absolute;
    top:60px;
    left:40px;
    transition:all 0.3s;
    color:#3f3e3e00;
}

.cPersonajes{
    display:inline-flex;
    flex-direction: row;
}
.cArmas{
    display:inline-flex;
    flex-direction: row;
}
.cuadrado{
    width:100px;
    height:100px;
    background-color: #130688b9;
}
.cuadra2{
    width:100px;
    height:50px;
    background-color: #130688b9;
}
.cuadrado:hover,.cuadra2:hover{
    background-color: #0f0852b9;
}
.linea1{
    position:absolute;
    top:50px;
    left:0px;
    width:100%;
    height:50px;
    background-color: rgba(26, 148, 15, 0.52);
}
.linea2{
    position:absolute;
    top:100px;
    left:0px;
    width:100%;
    height:50px;
    background-color: rgba(67, 165, 22, 0.52);
}
.linea3{
    position:absolute;
    top:150px;
    left:0px;
    width:100%;
    height:50px;
    background-color: rgba(28, 97, 7, 0.52);
}
.personaje{
    position:absolute;
    top:50px;
    left:100px;
    width:50px;
    height:100px;        
    transition: all 0.7s;
}
.pclick{
    position:absolute;
    top:240px;
    left:0px;
    width:100%;
}
.ache{
    position:absolute;
    top:60px;
    left:0px;
    width:100%;
}
.fondo{
    display:flexbox;
    justify-content: center; 
    text-align: center; 
    width:100%;
    height:330px;
    background-color: whitesmoke;
        
}
.pantalla{    
position:absolute;
width:700px;
height:330px;
background-color: rgb(26, 108, 185);    
}
.controles{
position:absolute;
top:200px;
left:0px;
width:100%;
height:130px;    
background-color: #f0f0f025;
z-index:4;
}
.menues{
position:absolute;
top:0px;
left:200px;
width:300px;
height:130px;    
background-color: #3331312f;
z-index:3;
}