.universo{width:600px;
    height:840px;    
    background: linear-gradient(#1c1c1c, #1b1d36,#131527, #0b0e3b);
    overflow: hidden;
}
.planeta{
width:150px;
height:150px;
position: absolute;
top:250px;
left:250px;
border-radius: 150px;
background: linear-gradient(#240e61, #555886);
z-index:5;
box-shadow: 0px 0px 10px 5px whitesmoke;
}

.asteroide{
    width:50px;
    height:50px;
    position: absolute;
    top:550px;
    left:250px;
    border-radius: 30px 25px 39px 23px ;background-color: rgb(150, 82, 4);z-index:5;
    box-shadow: 0px 0px 10px 5px rgb(66, 111, 114);
    transition: all 2s;
    }

.astro{
    width:35px;
    height:35px;
    position: absolute;z-index:10;
    top:75px;
    left:75px;
    border-radius: 35px;background-color: rgb(254, 255, 177);
    box-shadow: 0px 0px 15px 3px rgb(191, 211, 255);
}
.estrella{
    width:1px;
    height:1px;
    position:absolute;
    top:40px;
    left:40px;
    background-color: whitesmoke;
    border-radius: 5px;color:whitesmoke;
    transition: all 1.5s;
}
