.universo{width:600px;
    height:840px;
    background-color: rgb(9, 3, 56);
    overflow: hidden;
}
.planeta{
width:250px;
height:250px;
position: absolute;
top:200px;
left:200px;
border-radius: 250px;background-color: blue;z-index:5;
box-shadow: 0px 0px 10px 5px whitesmoke;
}
.satelite{
    width:85px;
    height:85px;
    position: absolute;z-index:10;
    top:50px;
    left:50px;
    border-radius: 85px;background-color: rgb(253, 255, 144);
    box-shadow: 0px 0px 5px 3px rgb(235, 236, 213);
}
.estrella{
    width:1px;
    height:1px;
    position:absolute;
    top:40px;
    left:40px;
    background-color: whitesmoke;
    border-radius: 5px;color:whitesmoke;
}