.universo{width:600px;
    height:840px;
    background-color: rgb(3, 0, 32);
    
}
.planeta{
width:300px;
height:150px;
position: absolute;
top:150px;
left:150px;
border-radius: 300px;background-color: blue;z-index:5;text-align: center;padding-top:150px;
}
.satelite{
    width:90px;
    height:90px;
    position: absolute;z-index:10;
    top:50px;
    left:50px;
    border-radius: 90px;background-color: whitesmoke;
}
.estrella{
    width:1px;
    height:1px;
    position:absolute;
    top:40px;
    left:40px;
    background-color: whitesmoke;
}