.elp{
    background-color:rgba(255, 255, 255, 0.255);
    width:90px;
    height:90px;
    font-size: 24px;
    
}
.cart:hover{
transform:scale(1.1,1.1);z-index:10;
}
.igt{
    width:150px;
    height:90px;
    position:absolute;
    left:820px;
    top:5px;
    font-size:40px;
}
