.uno{width:1000px;
    height:5000px;
    background-color: #f5f5f5;
}
.dos{
width:840px;
height:200px;
background-color:tomato;
margin-left:80px;

}
.tres{
    margin-left:150px;
    margin-top:80px;
width:700px;
height:4200px;
background-color: greenyellow;
}