.fondo{
    width:500px;
    height:1000px;
    background-color: yellowgreen;
}
.fondo>div{    
    border-style: solid 1px;
}
.cuadroc{
    width:80px;
    height:140px;
    position: absolute;
    top:0px;
    left:0px;
    background-color:red;
    transition:all 2s;
}
.eq1h0{position:absolute;
    width:40px;
    height:40px;
    top:0px;
    left:20px;  
    border-radius: 40px;  background-color:rgb(36, 25, 25);
}
.eq2c0{position:absolute;
    width:40px;
    height:40px;
    top:40px;
    left:20px;    
    border-radius: 10px 10px 0px 0px;  background-color:rgb(0, 255, 55);
}
.eq3bi0{position:absolute;z-index:3;
    width:10px;
    height:40px;
    top:42px;
    left:15px;  
    border-radius: 10px 0px 0px 0px;  background-color:rgb(44, 36, 36);
}
.eq4bd0{position:absolute;z-index:3;
    width:10px;
    height:40px;
    top:42px;
    left:55px;  
    border-radius: 0px 10px 0px 0px;  background-color:rgb(44, 36, 36);
}
.eq12mi0{position:absolute;z-index:4;
    width:10px;
    height:10px;
    top:82px;
    left:15px;  
    border-radius:1px;
     background-color:rgb(134, 129, 129);
}
.eq13md0{position:absolute;z-index:4;
    width:10px;
    height:10px;
    top:82px;
    left:55px;  
    border-radius:1px;
     background-color:rgb(155, 152, 152);
}

.eq14mi0{position:absolute;z-index:4;
    width:10px;
    height:10px;
    top:92px;
    left:15px;  
     background-color:rgb(26, 16, 16);
     border-radius: 0px 0px 2px 5px;
}
.eq15md0{position:absolute;z-index:4;
    width:10px;
    height:10px;
    top:92px;
    left:55px;  
     background-color:rgb(27, 19, 19);
     border-radius: 0px 0px 5px 2px;
}


.eq5c0{position:absolute;
    width:40px;
    height:20px;
    top:80px;
    left:20px;
    background-color:rgb(102, 49, 7);
    z-index:2;
}


.eq6pi0{position:absolute;z-index:1;
    width:20px;
    height:60px;
    top:90px;
    left:20px;      background-color:rgb(58, 25, 25);
}
.eq7pd0{  
     position:absolute; z-index:1;
    width:20px;
    height:60px;
    top:90px;
    left:40px;  background-color:rgb(61, 26, 26);
}

.eq8bi0{}
.eq9bd0{}
.eq10bi0{}
