.eldiv{
    display:inline-flex;
    flex-direction: column;
    
}
.fila{width:490px;height:70px;background-color: red;
    display:inline-flex;
    flex-direction: row;}
.cuadro{
    width:70px;height:70px;background-color: green;
}
.eldiv>div>div:hover{
    background-color:yellow;
}