.pantalla{
    width: 410px;
    height: 800px;
    overflow:hidden;    
    position:absolute;
    top:0px;
    left:0px;
    z-index:0;
}

.videoYoutube{

        width: 410px;
        height: 240px;
        overflow:hidden;    
        position:absolute;
        top:800px;
        left:0px;
        z-index:0;


}

