.divinicio>p:hover{
  background-color: rgba(153, 205, 50, 0.295);
}
.elPEPlay{
    position:absolute;
    top:350px;
    left:215px;background-color: rgba(36, 32, 104, 0.247);
    width:585px;
    font-size:24px;
    text-align:center;}
.elPPlay{
    position:absolute;
    top:385px;
    left:215px;background-color: rgba(0, 0, 0, 0.178);
    width:585px;
    font-size:24px;
    text-align:center;}
    .elPPlays{
      position:absolute;
      top:414px;
      left:215px;background-color: rgba(0, 0, 0, 0.178);
      width:585px;
      font-size:24px;
      text-align:center;}
.elPPPlay{
    position:absolute;
    top:420px;
    left:215px;background-color: rgba(145, 39, 39, 0.233);
    width:585px;
    font-size:24px;
    text-align:center;}
.opcionesD{position:absolute;
    width:1000px;
    height:500px;background-color:rgba(20, 47, 122, 0.938);
    }

    .opcionesE{
      position:absolute;z-index:20;top:0px;left:0px;
      width:1000px;
      height:500px;background-color:rgba(7, 21, 54, 0.849);
      }

.elPOpciones{position:absolute;left:420px;top:10px;
  text-align:center;font-size:30px;color:white;}
.muchoTexto{position:absolute;left:300px;top:100px;
  text-align:center;font-size:20px;color:white;}
.pocoTexto{position:absolute;left:300px;top:130px;
    text-align:center;font-size:20px;color:white;}
.elitemm{position:absolute;left:300px;top:160px;
      text-align:center;font-size:20px;color:white;}
.espad{position:absolute; top:345px;left:250px;transform: scale(-1,1); 
}
.pers{position:absolute;left:40px;top:20px;
width:200px;
}

.elPOpcion{font-size:30px;color:whitesmoke;text-align:center;}

.delado{
  margin-top: 10px;margin-left:30px;
  width:1000px;
  height:200px;
  display:inline-flex;
  flex-direction: row;
}

.debajo{
  margin-top: 10px;margin-left:30px;
  width:1000px;
  height:200px;
  display:inline-flex;
  flex-direction: column;
}

.imgicono{
  filter: grayscale(100%);
}
.iconos{overflow: hidden;
  margin-left:10px;
  width:220px;
  height:200px;
  background-color: rgba(51, 8, 8, 0.301);
}

    .iconos:hover>p{background-color: rgba(252, 255, 75, 0.966);color:black;}
    .iconos:hover>img{filter: grayscale(0%);}
    .juego{position: absolute;top:0px;left:0px;
        width:1000px;
        height:500px;        
        z-index:0;
        overflow: hidden;}
        .invd{
          background-color: rgba(245, 245, 245, 0.788);       
        }
        .invd>img{
          z-index: 20;
        }        
        .invd>p{
          z-index: 20;
        }
.contenedorImagenTienda{width:1000px;height:350px;background-color: green;}
.contenedorImagen{width:1000px;height:400px;background-color: red;}
.contenedoropciones{width:1000px;height:100px;background-color: teal;display:flex;}
.op{width:220px;height:50px;background-color: tomato;margin-left:25px;margin-top:25px}
    .op:hover{background-color:red;}
.cielo{background-color:#02020e99;width:1000px;height:500px;position:absolute;z-index:0;}
.tierra{ width:1000px;height:500px;overflow: hidden;}
.player{position:absolute;
        top:100px;
        left:0px;
        width:50px;
        height:100px;overflow: hidden;
    z-index:18;}
    .playerR{position:absolute;
        top:100px;
        left:0px;
        width:100px;
        height:50px;overflow: hidden;
    z-index: 1;}
.tiendaMapa{
    position: absolute;
    top:100px;
    left:0px;
    width:500px;
    height:200px;
    background-color: red;
    overflow: hidden;
}
.contenedorImagenTienda>div:hover{
    background-color: #ffffff69;
}
.dtVendedor{
    width:300px;
    height:300px;
    /*background-color: red;*/
    position:absolute;
    top:1px;
    left:1px;
}
.dtIzquierda{
    width:100px;
    height:100px;
    position:absolute;
    top:100px;
    left:350px;
    /*background-color: green;*/
}
.dtArma{
    width:450px;
    height:150px;
    position:absolute;
    top:50px;
    left:450px;
    /*background-color: blue;*/
}
 
.dtDerecha{
    width:100px;
    height:100px;
    position:absolute;
    top:100px;
    left:900px;
    /*background-color: green;*/
} 

.dtAbajo{
    width:450px;
    height:100px;
    position:absolute;
    top:200px;
    left:450px;
    /*background-color: whitesmoke;*/
}
.k{
    width:1000px;height:250px;background-color: rgb(47, 155, 144);
    border: turquoise -1px;
}
.p{
    width:1000px;height:250px;background-color: turquoise;
}
@media(min-width:1001px){
    body{        
        overflow: hidden;
        position:absolute;            
    }
    
}
@media(max-width:1000px){
    body{        
        overflow: hidden; 
        position:absolute;               
    }    
}

.iz{
    position: absolute;top:370px;left:20px;
  }
  .de{
    position: absolute;top:370px;left:108px;
  }
  .ar{
    position: absolute;top:320px;left:72px;
  }
  .ab{
    position: absolute;top:404px;left:72px;
  }
  .at{
    position: absolute;top:410px;left:810px;
  }
  .desen{
    position: absolute;top:330px;left:850px;
  }
  .ti{
    position: absolute;top:410px;left:900px;
    transform:scale(-0.9,0.9);
  }
  .tik{
    position: absolute;top:420px;left:40px;
    transform:scale(-0.9,0.9);
  }

  .imp{
    position: absolute;top:310px;left:900px;
    
  }
  .st{
    position: absolute;top:320px;left:350px;
  }
  
  .se{
    position: absolute;top:320px;left:690px;
  }
  .str{
    position: absolute;top:320px;left:215px;
  }
  
  .seA{
    position: absolute;top:320px;left:440px;
  }
  .seB{
    position: absolute;top:320px;left:360px;
  }
  .seC{
    position: absolute;top:320px;left:520px;
  }
  .seD{
    position: absolute;top:320px;left:600px;
  }

  .espIn{
    width:400px;
    height:100px;
    position:absolute;
    top:320px;
    left:480px;background-color: rgb(235, 220, 220);
}
.otk{
    width:400px;
    height:40px;
    position:absolute;
    top:440px;background-color:#cd9;
    left:480px;
}
.divCajas{
    position:absolute;padding-top:20px;
    top:300px;width:460px;height:200px;display:inline-flex;flex-direction: column;
}
.divCajass{
    position:absolute;padding-top:20px;
    left:440px;top:300px;width:460px;height:200px;display:inline-flex;flex-direction: column;
}
.trap{
    display:inline-flex;flex-direction: row;width:460px;height:60px;
}.trap>div:hover{
    background-color: rgb(77, 74, 74);
}
  .caja{
    width:90px;
    height:40px; margin-left:20px;
    background-color: gray;display:flex;
}
.iyohiro{
    width:200px;
    height:200px;
    position:absolute;top:100px;left:200px;
}
.iotro{
    width:100px;
    height:200px;
    position:absolute;top:100px;left:700px;
}
.textY{
    position: absolute;top:40px;left:40px;
}
.textO{
    position: absolute;top:40px;left:640px;
}
.revistas{
  width:1000px;height:500px;background-color: rgba(3, 36, 109, 0.548);
  position:absolute;z-index: 2;
}
.funcional{
  width:1000px;height:500px;position:absolute;z-index:0;background-color: rgba(42, 30, 146, 0.247);
}
.revista{display:inline-flex;flex-direction: row;z-index: 4;
  width:420px;background-color: #0c0c83a8;margin-top: 10px;
}
.revista>img{
  filter: grayscale(100%);
}
.infoLibro{
  color:whitesmoke;text-align:left;
}

