.contenedor{
background-color:#eeeeee;
width:100%;
height:100%;
}

.imagen{
background-color:#654321;
width:80%;
height:33.3%;
position:absolute;
left:10%;
top:10%;
}

.imagen2{
background-color:#654321;
width:150px;
height:100px;
position:absolute;
left:10px;
top:10px;
}

.btnJugar{

background-color:#ffff00;
width:60%;
height:5%;
position:absolute;
left:20%;
top:53.3%;
padding-top:15px;
text-align:center;
}

.btnNivel{
background-color:#6543ff;
width:100%;
height:10%;
text-align:center;
padding-top:5px;
border:1px solid #000;
}

.scroll{
background-color:#999999;
position:absolute;
top:20%;
left:5%;
width:90%;
height:50%;
overflow:auto;
border:1px solid #000;

}
.textoAbajo{
position:absolute;
background-color:#fff;
width:100%;
height:50px;
top:5%;
left:0px;
}
.pantalla{
background-color:#65ff21;
width:60%;
height:20%;
position:absolute;
left:20%;
top:15%;
padding-top:20%;
text-align:center;
font-size:50px;
}

.btnRespuesta1{
position:absolute;
top:65%;
left:20%;
background-color:#12f5f6;
width:30%;
height:15%;
text-align:center;font-size:30px;
}
.btnRespuesta2{
position:absolute;
top:65%;
left:50%;
background-color:#12f5f6;
width:30%;
height:15%;
text-align:center;font-size:30px;
}
.btnRespuesta3{
position:absolute;
top: 80%;
left:20%;
background-color:#12f5f6;
width:30%;
height:15%;
text-align:center;font-size:30px;
}
.btnRespuesta4{
position:absolute;
top:80%;
left:50%;
background-color:#12f5f6;
width:30%;
height:15%;
text-align:center;font-size:30px;
}
.btnAtras{
background-color:#654321;
width:100px;
text-align:center;
}