.contenedor{
background-color:#eeeeee;
width:450px;
height:600px;
}

.imagen{
background-color:#654321;
width:300px;
height:200px;
position:absolute;
left:75px;
top:50px;
}

.imagen2{
background-color:#654321;
width:150px;
height:100px;
position:absolute;
left:10px;
top:10px;
}

.btnJugar{

background-color:#ffff00;
width:300px;
height:35px;
position:absolute;
left:75px;
top:350px;
padding-top:15px;
text-align:center;
}

.btnNivel{
background-color:#6543ff;
width:298px;
height:28px;
text-align:center;
padding-top:5px;
border:1px solid #000;
}

.scroll{
background-color:#999999;
position:absolute;
top:200px;
left:75px;
width:300px;
height:350px;
overflow:auto;
border:1px solid #000;

}
.textoAbajo{
position:absolute;
background-color:#fff;
width:100%;
height:50px;
top:575px;
left:0px;
}
.pantalla{
background-color:#65ff21;
width:300px;
height:180px;
position:absolute;
left:75px;
top:50px;
padding-top:20px;
text-align:center;
font-size:50px;
}

.btnRespuesta1{
position:absolute;
top:300px;
left:55px;
background-color:#12f5f6;
width:150px;
height:100px;
text-align:center;font-size:30px;
}
.btnRespuesta2{
position:absolute;
top:300px;
left:255px;
background-color:#12f5f6;
width:150px;
height:100px;
text-align:center;font-size:30px;
}
.btnRespuesta3{
position:absolute;
top:450px;
left:55px;
background-color:#12f5f6;
width:150px;
height:100px;
text-align:center;font-size:30px;
}
.btnRespuesta4{
position:absolute;
top:450px;
left:255px;
background-color:#12f5f6;
width:150px;
height:100px;
text-align:center;font-size:30px;
}
.btnAtras{
background-color:#654321;
width:100px;
text-align:center;
}