@media(max-width:1200px){

    .contenedor>div{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }
    .contenedor{
        display:inline-flex;
        flex-direction: column;        
        width:70%;
        margin-left: 15%;
        height:250px;
    }
    .contenedor div:nth-child(1){
        background-color: green;
        height:25px;
        order:2;
            
    }
    .contenedor div:nth-child(2){
        background-color: whitesmoke;
        height:200px;
        order:1;
    }

    .contenedor div:nth-child(3){
        background-color: red;
        height:25px;
        order:3;
    }
    .jeder{
        width: 70%;
        margin:auto;
        background-color: rgb(172, 137, 137);
        height:25px;
    }
    .futer{
            width: 70%;
            margin:auto;
            background-color: rgb(153, 129, 129);
            height:25px;
    }
}

@media(min-width:1200px){
 
    .jeder{
        width: 70%;
        margin:auto;
        background-color: rgb(105, 184, 82);
        height:100px;
    }
    .futer{
            width: 70%;
            margin:auto;
            background-color: rgb(194, 70, 70);
            height:100px;
    }
    .contenedor>div{
        display:flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
    }        
    .contenedor{
        width:70%;
        margin:auto;
        display:flex;
        flex-direction: row;
        height:550px;
    }
    .contenedor div:nth-child(1){
        background-color: green;
        
        
        
    }
    .contenedor div:nth-child(2){
        background-color: rgba(249, 252, 252, 0.808);
        flex-grow: 4;
        
        
    }
    .contenedor div:nth-child(3){
        background-color: red;
        
       
    }
}
