.divA{
    width:336px;
    height:336px;
    background-color: #1a1212af;
    display: flex;
    flex-direction: column;
}
.divB{    
    width:336px;
    height:42px;
    background-color: #b3b3ae57;
    display: flex;
    flex-direction:row;      
}
.divE{    
    width:336px;
    height:42px;
    background-color: #b3b3ae57;
}

.divC{
    text-align:center;
    width:32px;
    height:32px;
    background-color: #ffffff;    
    padding-top:10px;
    padding-left:10px;
}
.divD{
    text-align:center;
    width:32px;
    height:32px;
    background-color: #000000;    
    padding-top:10px;
    padding-left:10px;
}
.pb{width:14px;height:14px;
    background-color: #b90c09;    
}
.pa{width:18px;height:18px;   
    padding-top:4px;
    padding-left:4px;
    background-color: #0013bd;    
}
.muchotexto{
    color:#0f0f0f;
    text-align:center;
}